@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav
{
    width: 100vw;
    
    display: flex;
}
.logo img{
    width: 200px;
}
.logo{
    width: 20%;
    justify-content: center;
  
}
.list{
    width: 40%;
    justify-content: center;
}
.seach{
   width: 30%;
}
.banner-image {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');
    
    background-size: cover;
    background-position: center;
    height: 400px; 
   
    
      min-height: 200px; 
}


.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.carousel-dot {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.25rem;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dot.active {
    background-color: #333;
}


@media (max-width: 768px) {  
    .banner-image {
        min-height: 250px; 
    }
    .banner-image .absolute { 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 90%; 
        text-align: center; 
    }
    .banner-image img.inline-block{
      height: 6rem;
    }
}
@media (max-width: 640px) {  
   .banner-image {
        min-height: 200px; 
    }
   .banner-image img.inline-block{
      height: 4rem;
    }
}